/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Estilos del contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Barra de navegación superior */
#barrita {
    display: flex;
    justify-content: space-between;
    background-color: #b9a799;
    flex-wrap: nowrap;
}

#banner {
    width: 100%;
    height: 20vh;
}

#jumbotron {
    margin: 10px;
}

#tarjeta {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* Lista de usuarios */
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

/* Estilos del footer */
.footer {
    background-color: black;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-link {
    width: 25%;
    padding: 0 15px;
}

.footer-link h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
}

.footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-link ul li a:hover {
    color: white;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

/* Estilos de la barra de navegación y botones */
.navbar,
.btn-primary {
    color: #000000;
}

.bg-dark {
    background-color: #c8c8c8;
}

.text-white,
.navbar-toggler-icon {
    color: #ffffff;
}

.btn-primary {
    background-color: #ff6600;
    border-color: #ff6600;
}

.btn-primary:hover {
    background-color: #badbf3;
    border-color: #badbf3;
}

.btn-primary-llamativo {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.btn-primary-llamativo:hover {
    background-color: #badbf3;
}

.hero-con-imagen {
    background-image: url("../img/portada1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   height: 33vh;
   
}



.btn-orange {
    background-color: #ff6600;
    color: #fff;
    border-color: #ff6600;
}

.btn-orange:hover {
    background-color: #badbf3;
    border-color: #badbf3;
}

.fas {
    color: #ff6600;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
}

/* Estilos para el botón flotante */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.whatsapp-btn:hover {
    background-color: darkgreen;
}

/* Estilos de la barra de navegación a la izquierda */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* Estilos del contenido principal */
.content {
    margin-left: 250px;
    padding: 20px;
}

/* Estilos de las secciones del administrador */
.admin-section {
    margin-bottom: 20px;
}

/* Estilos del encabezado del contenido */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#imagen27 {
    background-image: url("../img/portada1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    margin: 10px;
}

.boton-jumbotrom {
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    /* Ajusta el ancho según tus necesidades */
    margin: 0 auto;
    /* Centra el formulario horizontalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-row input,
.form-row textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-row textarea {
    height: 100px;
    /* Ajusta la altura del textarea según tus necesidades */
}

.form-row button {
    background-color: #4CAF50;
    /* Color de fondo del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.color1 {
    padding: 10px;
}

.footer2 {
    margin: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

.footer2 {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container_footer {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
    -webkit-transition: all 700ms ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none
    }
}

#nosotros-separacion {
    margin: 8px;
}

#vacante {
    background-color: #f4f5f6;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: black;
    border: 10px black solid;
}

/* split-landing*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --left-bg-color: rgba(248, 125, 24, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --left-btn-hover-color: rgba(87, 84, 236, 1);
    --right-btn-hover-color: rgba(28, 122, 28, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

* {
    box-sizing: border-box;
}

.expandedos {
    font-family: 'Roboto', sans-serif;
    height: 80vh;
    overflow: hidden;
    margin: 0;
}

#titulo1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.animado {
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-weight: bold;
    position: relative;
    border-radius: 10px;
}

.animado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.split.left .btn1:hover {
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}

.split.right .btn1:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

.container2 {
    position: relative;
    width: 100%;
    height: 550px;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 550px;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('../img/asesor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url('../img/electricidad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

@media (max-width: 800px) {
    #titulo1 {
        font-size: 2rem;
        top: 30%;
    }

    .btn1 {
        padding: 1.2rem;
        width: 12rem;
    }
}

/* estilos de las tarjetas que se expanden*/

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

.expanding {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #333;
}

.container1 {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container1 {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

.expanding_uno {
    text-decoration: none;
    color: #ff6600;
}

.expanding_uno:hover {
    background-color: #333;
    border-radius: 5px;
}

/*nuestros servicios*/
#nservicios {
    opacity: 0.6;
}

.sobrepuesto1 {
display: flex;
justify-content: center;
justify-items: center;
    top: 500px;
    /* Ajusta la posición vertical */
    left: 260px;
    /* Ajusta la posición horizontal */
    color: white;
    /* Color de texto claro para mejor contraste */
    font-size: 100px;
    /* Tamaño de fuente */
}


#color_sobrepuesto {
    background-color: #ff6600;
    height: 1000px;
   

    top: 100px;
    /* Ajusta la posición vertical */
    left: 50px;
    opacity: 0.6;
}

#mano_blanca {
    font-size: 50px;
}

#servicios_footer {
    display: flex;
    padding: 15px;
    margin: 15px;
    justify-content: space-around;
    background-color: #f4f5f6;
    border-radius: 10px;
    
    justify-items: center;
}

#servicios_footer1 {
    display: flex;
    padding: 15px;
    margin: 15px;
    justify-content: space-around;
    background-color: #333333;
    border-radius: 10px;

    justify-items: center;
}

#info1 {
    background-color:#ff6600;
    color: white;
    border-radius: 8px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

#mas_info{text-decoration: none;
    color: white;
font-size: 20px;}

#mas_info1{text-decoration: none;
    color: black;
font-size: 20px;}

#mas-servicios{
    opacity: 0.1;
}

.sobrepuesto1 {
    position: absolute;
    top: 500px;
    /* Ajusta la posición vertical */
    left: 260px;
    /* Ajusta la posición horizontal */
    color: white;
    /* Color de texto claro para mejor contraste */
    font-size: 100px;
    /* Tamaño de fuente */
}


#color_sobrepuesto1 {
    color: #ff6600;
    height: 800px;
    width: 1200px;
    position: absolute;
    top: 1500px;
    /* Ajusta la posición vertical */
    left: 50px;
    opacity: 0.6;
}

/* Estilos de tarjetas siguenos siguenos */
#izquierda{
    display: flex;
    justify-content: end;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

#body_siguenos {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    #body_siguenos  {
        flex-direction: column;
    }
}

/* estilos preguntas*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #ffffff;
}

h1 {
    margin: 50px 0 30px;
    text-align: center;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq {
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: .3s ease;
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .1);
}

.faq.active::before,
.faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 free';
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: .2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0 35px 0 0;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #9fa4a8;
}

/* estilos contactanos*/

.contact {
    background: url(../images/conatct.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 90px;
    padding: 80px 0;
}

.contact .titlepage {
    text-align: left;
}

.contact .titlepage h2 {
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
}

.main_form .contactus {
    border: #fff solid 1px;
    padding: 0 15px;
    margin-bottom: 25px;
    width: 100%;
    height: 54px;
    background: #fff;
    color: #989696;
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
}

.main_form .textarea {
    border: #fff solid 1px;
    margin-bottom: 25px;
    width: 100%;
    background: #fff;
    color: #989696;
    font-size: 18px;
    font-weight: normal;
    padding: 35px 15px 0 15px;
    height: 107px;
    border-radius: 5px;
}

.main_form .send_btn {
    font-size: 22px;
    transition: ease-in all 0.5s;
    background-color: transparent;
    border: #fff solid 3px;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 0px;
    max-width: 150px;
    width: 100%;
    display: block;
    margin-top: 10px !important;
    font-weight: 500;
}

.main_form .send_btn {
    background-color: #2a2b2a;
    
    color: #ffffff;
}

#request *::placeholder {
    color: #989696;
    opacity: 1;
}

/** gallery  section **/

.gallery {
    margin-top: 80px;
    padding-top: 80px;
    background-color: #eae7e7;
    padding-bottom: 50px;
}

.gallery .titlepage {
    text-align: center;
}

.gallery .titlepage p {
    color: #2a2b2a;
    display: block;
    padding-top: 20px;
}

.gallery .gallery_img {
    overflow: hidden;
    margin-bottom: 30px;
}

.gallery .gallery_img figure {
    margin: 0;
}

.gallery .gallery_img figure img {
    width: 100%;
    transition: all .5s;
    height: 369px;
}

.gallery .gallery_img figure img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.gallery_text {
    text-align: center;
    background-color: #2a2b2a;
    height: 369px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleryh3 h3 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}

.galleryh3 p {
    font-size: 17px;
    line-height: 31px;
    color: #fff;
}

/* estilos para el correo y el celular en el header*/

.hero_area {
    position: relative;
    background-color: #d1e3ff;
  }
.header_top {
    padding: 15px 0;
    background-color: #000000;
  }
  
  .header_top .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header_top .contact_nav a {
    color: #ffffff;
  }
  
  .header_top .contact_nav a i {
    color: #ff8a1d;
  }

i {
    color: #ff8a1d;
  }

  .navbar-brand {
    padding: 0;
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-brand span {
    color: #0355cc;
    text-transform: uppercase;
  }
  
  .custom_nav-container {
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav {
    margin-left: auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    color: #000000;
    text-align: center;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #0355cc;
  }
  
  .custom_nav-container .form-inline .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #000000;
  }
  
  .custom_nav-container .form-inline .nav_search-btn:hover {
    color: #0355cc;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
            transform: none;
  }
  
  .quote_btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .quote_btn-container a {
    color: #ffffff;
    margin-right: 25px;
    text-transform: uppercase;
  }
  
  .quote_btn-container a span {
    margin-left: 5px;
  }
  
  .quote_btn-container a:hover {
    color: #ff8a1d;
  }

  /* slider section */
.slider_section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    background-position: bottom;
  }
  
  .slider_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .slider_section #customCarousel1 {
    width: 100%;
    position: unset;
  }
  
  .slider_section .detail-box {
    padding-bottom: 90px;
  }
  
  .slider_section .detail-box h1 {
    font-weight: bold;
    margin-bottom: 25px;
    color: #0355cc;
  }
  
  .slider_section .detail-box p {
    color: #444;
    font-size: 15px;
  }
  
  .slider_section .detail-box a {
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #ff8a1d;
    border: 1px solid #ff8a1d;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 15px;
  }
  
  .slider_section .detail-box a:hover {
    background-color: transparent;
    color: #ff8a1d;
  }
  
  .slider_section .img-box img {
    width: 100%;
  }

  /* estilos para cartas que quedan en la mitad de jumbotrom*/
  .feature_section {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .feature_section .feature_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .feature_section .feature_container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 10px;
    padding: 45px 15px;
    background-color: #ffffff;
    color: #555089;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }
  
  .feature_section .feature_container .box .img-box {
    width: 90px;
    height: 90px;
  }
  
  .feature_section .feature_container .box .img-box svg {
    width: 100%;
    height: auto;
    max-height: 100%;
    fill: #726dae;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .feature_section .feature_container .box .img-box svg path {
    fill: #726dae;
  }
  
  .feature_section .feature_container .box .name {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 0;
  }
  
  .feature_section .feature_container .box:hover, .feature_section .feature_container .box.active {
    background-color: #ff8a1d;
    color: #ffffff;
  }
  
  .feature_section .feature_container .box:hover .img-box svg, .feature_section .feature_container .box.active .img-box svg {
    fill: #ffffff;
  }
  
  .feature_section .feature_container .box:hover .img-box svg path, .feature_section .feature_container .box.active .img-box svg path {
    fill: #ffffff;
  }

  /* con la foto del tecnico en donde digo que es un servicio profesional*/
  .professional_section {
    background-color: #d1e3ff;
  }
  
  .professional_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .professional_section .img-box img {
    width: 100%;
  }
  
  .professional_section .detail-box h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #0355cc;
  }
  
  .professional_section .detail-box p {
    margin-top: 20px;
  }
  
  .professional_section .detail-box a {
    margin-top: 25px;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #ff8a1d;
    border: 1px solid #ff8a1d;
    border-radius: 2px;
    color: #ffffff;
  }
  
  .professional_section .detail-box a:hover {
    background-color: transparent;
    color: #ff8a1d;
  }

  /* sección de los comentarios*/
  .client_section .heading_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .client_section .box {
    margin: 15px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
  }
  
  .client_section .box .client_id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .client_section .box .client_id .img-box {
    width: 125px;
    min-width: 125px;
    margin-right: 15px;
  }
  
  .client_section .box .client_id .img-box img {
    width: 100%;
    border-radius: 100%;
  }
  
  .client_section .box .client_id .client_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 25px;
  }
  
  .client_section .box .client_id .client_detail .client_info h6 {
    margin-bottom: 0;
  }
  
  .client_section .box .client_id .client_detail .client_info i {
    color: #fbaf5d;
  }
  
  .client_section .box .client_text {
    margin-top: 20px;
  }
  
  .client_section .owl-carousel .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  
  .client_section .owl-carousel .owl-nav button {
    width: 50px;
    height: 50px;
    background-color: #0355cc;
    outline: none;
    margin: 0 20px;
    color: #ffffff;
  }
  
  .heading_container {
    margin-bottom: 30px;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");
body {
  font-family: 'Lato', sans-serif;
  color: #040000;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
}

.heading_container p {
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

h1,
h2 {
  font-family: 'Merriweather Sans', sans-serif;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

/* Sección sobre nosotros*/
.about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section .detail-box h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .about_section .detail-box p {
    margin-top: 10px;
  }
  
  .about_section .detail-box a {
    margin-top: 15px;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #0355cc;
    border: 1px solid #0355cc;
    border-radius: 2px;
    color: #ffffff;
  }
  
  .about_section .detail-box a:hover {
    background-color: transparent;
    color: #0355cc;
  }
  
  .about_section .img-box img {
    width: 100%;
  }

  .service_section {
    position: relative;
  }
  
  .service_section .box {
    margin-top: 30px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    padding: 25px 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .service_section .box .img-box {
    width: 65px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .service_section .box .img-box img {
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .service_section .box .detail-box {
    margin-top: 15px;
  }
  
  .service_section .box .detail-box h5 {
    font-weight: bold;
  }
  
  .service_section .box .detail-box p {
    margin: 0;
  }
  
  .service_section .box:hover {
    background-color: #ff8a1d;
    color: #ffffff;
  }
  
  .service_section .box:hover .img-box img {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  
  .service_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
  }
  
  .service_section .btn-box a {
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #0355cc;
    border: 1px solid #0355cc;
    border-radius: 0;
    color: #ffffff;
  }
  
  .service_section .btn-box a:hover {
    background-color: transparent;
    color: #0355cc;
  }

  .contact-us .inner{
    box-shadow: 0px 0px 10px #00000024;
    border-radius: 5px;
    overflow:hidden;
  }
  .contact-us .contact-us-left{
      width: 100%;
      height: 100%;
  }
  .contact-us .contact-us-form{
    padding:50px 40px;
  }
  .contact-us .contact-us-form h2 {
    position: relative;
    font-size: 32px;
    color: #333;
    font-weight: 600;
    line-height: 27px;
    text-transform: capitalize;
    margin-bottom: 12px;
    padding-bottom: 20px;
    text-align: left;
  }
  .contact-us .contact-us-form h2:before{
    position:absolute;
    content:"";
    left:0;
    bottom:0;
    height:2px;
    width:50px;
    background:#1A76D1;
  }
  .contact-us .contact-us-form p {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-align: left;
    margin-bottom:50px;
  }
  .contact-us .form {
    margin-top: 30px;
  }
  .contact-us .form .form-group {
    margin-bottom: 22px;
  }
  .contact-us .form .form-group input {
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    text-transform: capitalize;
    padding: 0px 18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
  }
  .contact-us .form .form-group textarea {
    width: 100%;
    height:100px;
    border: 1px solid #eee;
    text-transform: capitalize;
    padding:18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
  }
  .contact-us .form .form-group.login-btn {
    margin: 0;
  }
  .contact-us .form button {
    border: none;
  }
  .contact-us .form .btn {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    line-height: 20px;
    width:100%;
  }
  .contact-us .form .btn:hover{
    background:#1A76D1;
    color:#fff;
  }
  .contact-us .contact-us-form .checkbox {
    text-align: left;
    margin: 0;
    margin-top: 20px;
    display:inline-block;
    
  }
  .contact-us .contact-us-form .checkbox label {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    position: relative;
    padding-left: 20px;
  }
  .contact-us .contact-us-form .checkbox label:hover{
    cursor:pointer;
  }
  .contact-us .contact-us-form .checkbox label input{
    display:none;
  }
  .contact-us .contact-us-form .checkbox label::before {
    position: absolute;
    content: "";
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #1A76D1;
    border-radius: 100%;
  }
  .contact-us .contact-us-form .checkbox label::after {
    position: relative;
    content: "";
    width: 7px;
    height: 7px;
    left: -16px;
    top: -15px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: block;
    font-size: 9px;
    background: #1A76D1;
    border-radius: 100%;
  }
  .contact-us .contact-us-form .checkbox label.checked::after{
    opacity:1;
    visibility:visible;
    transform:scale(1);
  }
  .contact-us .contact-info{
    margin-top:50px;
  }
  .contact-us .single-info {
    background: #1a76d1;
    padding: 40px 60px;
    height: 150px;
    border-radius: 10px;
    position:relative;
    -webkit-transition: all .3s ease-out 0s;
      -moz-transition: all .3s ease-out 0s;
      -ms-transition: all .3s ease-out 0s;
      -o-transition: all .3s ease-out 0s;
      transition: all .3s ease-out 0s;
  }
  .contact-us .single-info:before{
    position: absolute;
      z-index: -1;
      content: '';
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80%;
      height: 90%;
      background:#1A76D1;
      opacity: 0;
      filter: blur(10px);
      -webkit-transition: all .3s ease-out 0s;
      -moz-transition: all .3s ease-out 0s;
      -ms-transition: all .3s ease-out 0s;
      -o-transition: all .3s ease-out 0s;
      transition: all .3s ease-out 0s;
  }
  .contact-us .single-info:hover:before{
    opacity: 0.8;
  }
  .contact-us .single-info:hover{
    transform: translateY(-5px);
  }
  .contact-us .single-info i{
    font-size:42px;
    color:#fff;
    position:absolute;
    left:40px;
  }
  .contact-us .single-info .content {
    margin-left: 45px;
  }
  .contact-us .single-info .content h3{
    color:#fff;
    font-size:18px;
    font-weight:600;
    
  }
  .contact-us .single-info .content p{
    color:#fff;
    margin-top:5px;
  }
  /* Google Map */
  .contact-us #myMap {
    height: 100%;
    width: 100%;
  }