{% extends 'reparado/footer/base_footer.html' %}


{% load static %}

{% block content %}

<section id="body_siguenos">
  <div class="counter-container">
    <i class="fab fa-twitter fa-3x"></i>
    <div class="counter" data-target="12000"></div>
    <span>Twitter Followers</span>
</div>

<div class="counter-container">
    <i class="fab fa-youtube fa-3x"></i>
    <div class="counter" data-target="5000"></div>
    <span>YouTube Followers</span>
</div>

<div class="counter-container">
    <i class="fab fa-facebook fa-3x"></i>
    <div class="counter" data-target="7500"></div>
    <span>Facebook Followers</span>
</div>
</section>

{% endblock %}